h1 {
    color: blueviolet;
    
}

h2 {
    text-align: center;
}



.header {
    background-color: bisque;
    display: flex;
    justify-content: space-around;
}

.grid {
    background-color : rgb(255, 176, 7);
    display: flex;
    justify-content: space-around;
    text-align: center;
}